# Python virtual environments
.venv/

# Environment variables
.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data files
/data/raw/*
/data/clean/*
/data/temp/*
/data/lake/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Latex build
paper/build/
presentation/build/
